In [1]:
import os
import glob
import csv
import numpy as np
import pandas as pd
import configparser
import config
import cv2
import matplotlib.pyplot as plt
os.chdir('/home/imlab/Desktop/yjs/mydms/')
os.getcwd()

'/home/imlab/Desktop/yjs/mydms'

In [2]:
from Dataloader1 import CustomDataset

In [3]:
data=CustomDataset(path='26595', audio=False, can='CAN', gnss='GNSS', video='video', bio=False, hmi='HMI',traffic_info='Traffic_info',bio_list=['ACC','BVP','EDA'])

In [15]:
audio_data, can_data, gnss_data, video_center_img,video_side_img, bio_data, hmi_data, traffic_data=data.return_()

In [5]:
status, past_time, future_time=3, 3, 1
wanted_can_data=data.get_can_data(status, past_time, future_time)
wanted_can_data

/home/imlab/Desktop/yjs/mydms/Dataloader1.py:51: DtypeWarning: Columns (23) have mixed types.Specify dtype option on import or set low_memory=False.
  df = self.get_csv(path_list[0])

,timestamp,timestamp2,CYL_PRES,CYL_PRES_FLAG,LAT_ACCEL,LONG_ACCEL,YAW_RATE,WHL_SPD_FL,WHL_SPD_FR,WHL_SPD_RL,...,CR_Hcu_HigFueEff_Pc,CR_Hcu_NorFueEff_Pc,CF_Hcu_DriveMode,CR_Fatc_OutTempSns_C,CR_Hcu_EcoLvl,CR_Hcu_FuelEco_MPG,CR_Hcu_HevMod,CF_Ems_BrkForAct,CR_Ems_EngColTemp_C,CF_Clu_Odometer
71891,1.681355e+09,1.681355e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71892,1.681355e+09,1.681355e+09,11.3,Off,0.23,-1.33,-0.12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71893,1.681355e+09,1.681355e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71894,1.681355e+09,1.681355e+09,11.3,Off,0.21,-1.29,-0.09,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71895,1.681355e+09,1.681355e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481648,1.681358e+09,1.681358e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
481649,1.681358e+09,1.681358e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
481650,1.681358e+09,1.681358e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Eco,21.0,204.0,4.941176,Power Researve,NaN,NaN,NaN
481651,1.681358e+09,1.681358e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Off,90.0,NaN
481652,1.681358e+09,1.681358e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
specific_can_data=data.get_specific_data(wanted_can_data,['CYL_PRES','LAT_ACCEL','LONG_ACCEL'])
specific_can_data

        CYL_PRES  LAT_ACCEL  LONG_ACCEL
71891        NaN        NaN         NaN
71892       11.3       0.23       -1.33
71893        NaN        NaN         NaN
71894       11.3       0.21       -1.29
71895        NaN        NaN         NaN
...          ...        ...         ...
481648       NaN        NaN         NaN
481649       NaN        NaN         NaN
481650       NaN        NaN         NaN
481651       NaN        NaN         NaN
481652       NaN        NaN         NaN

[1465 rows x 3 columns]

In [19]:
wanted_gnss_data=data.get_gnss_data(status,past_time,future_time)
wanted_gnss_data

/home/imlab/Desktop/yjs/mydms/Dataloader1.py:51: DtypeWarning: Columns (23) have mixed types.Specify dtype option on import or set low_memory=False.
  df = self.get_csv(path_list[0])

,Timestamp,timestamp,Latitude,Longitude,GPSMode,SatelliteNum,Altitude,Yaw,Pitch,Roll,TrueNorth,NorthDeclination
5593,2023_04_13_11_58_02_400000,1.681355e+09,37.605485,127.046811,4,8,47.762,57.9743,0.477,1.163,56.214,8.7663
5594,2023_04_13_11_58_02_500000,1.681355e+09,37.605487,127.046816,4,8,47.775,57.9648,0.419,1.168,56.152,8.7663
5595,2023_04_13_11_58_02_600000,1.681355e+09,37.605490,127.046820,4,8,47.788,57.9576,0.402,1.223,56.213,8.7663
5596,2023_04_13_11_58_02_700000,1.681355e+09,37.605492,127.046825,4,8,47.802,57.9553,0.369,1.241,56.112,8.7663
5597,2023_04_13_11_58_02_800000,1.681355e+09,37.605495,127.046829,4,8,47.814,57.9538,0.361,1.266,56.198,8.7663
...,...,...,...,...,...,...,...,...,...,...,...,...
39031,2023_04_13_12_53_46_900000,1.681358e+09,37.623682,127.069194,4,5,17.183,159.7035,-0.565,3.285,157.753,8.7737
39032,2023_04_13_12_53_47_000000,1.681358e+09,37.623678,127.069196,4,5,17.186,159.7037,-0.534,3.278,157.970,8.7737
39033,2023_04_13_12_53_47_100000,1.681358e+09,37.623675,127.069198,4,4,17.184,159.7133,-0.495,3.347,158.120,8.7737
39034,2023_04_13_12_53_47_200000,1.681358e+09,37.623671,127.069200,4,4,17.182,159.7159,-0.451,3.406,158.031,8.7737
39035,2023_04_13_12_53_47_300000,1.681358e+09,37.623667,127.069202,4,4,17.181,159.7262,-0.412,3.423,157.904,8.7737

In [20]:
specific_gnss_data=data.get_specific_data(wanted_gnss_data,['timestamp','Latitude','GPSMode'])
specific_gnss_data

          timestamp   Latitude  GPSMode
5593   1.681355e+09  37.605485        4
5594   1.681355e+09  37.605487        4
5595   1.681355e+09  37.605490        4
5596   1.681355e+09  37.605492        4
5597   1.681355e+09  37.605495        4
...             ...        ...      ...
39031  1.681358e+09  37.623682        4
39032  1.681358e+09  37.623678        4
39033  1.681358e+09  37.623675        4
39034  1.681358e+09  37.623671        4
39035  1.681358e+09  37.623667        4

[120 rows x 3 columns]

In [6]:
wanted_center_img, wanted_side_img = data.get_all_image_list(status, past_time, future_time)

/home/imlab/Desktop/yjs/mydms/Dataloader1.py:51: DtypeWarning: Columns (23) have mixed types.Specify dtype option on import or set low_memory=False.
  df = self.get_csv(path_list[0])

In [8]:
wanted_video = data.concat_imglist(wanted_center_img, wanted_side_img)
data.show_video(wanted_video)

0